<% provide(:title, 'Creadores') %>
<!-- ========== ABOUT US ========== -->

<section id="about-us">
  <div class="container">
    <h1 class="text-center">Somos Creadores</h1>
    <div class="our_team">
      <div class="member text-center">
        <div><img alt="" src="assets/selvio.png" class="ll"></div>
        <h4>Selvio Pérez</h4>
        <span class="pos">Cofundador - CEO</span>
        <p>Ingeniero Electrónico especialista en Gerencia de Proyectos, visionario y soñador; siempre en busca de nuevas ideas y oportunidades.</p>
        <ul class="unstyled inline social-user">
          <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
          <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
          <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
        </ul>
      </div>
      <div class="member text-center">
        <img alt="" src="assets/jorge.png" class="ll">
        <h4>Jorge Monroy</h4>
        <span class="pos">Cofundador - COO</span>
        <p>Ingeniero Electrónico especialista en Gerencia de Proyectos, apasionado por los negocios y las nuevas ideas.</p>
        <ul class="unstyled inline social-user">
          <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
          <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
          <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
        </ul>
      </div>
      <div class="member text-center">
        <img alt="juan david" src="assets/juandavid.png" class="ll">
        <h4>Juan David Giraldo</h4>
        <span class="pos">Cofundador - CTO</span>
        <p>Ingeniero Electrónico especialista en Teleinformática, desarrollador web con enfasis en Front-end.</p>
        <ul class="unstyled inline social-user">
          <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
          <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
          <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- ========== TESTIMONIAL BOX ========== -->
  <section id="testimonial" class="inverse parallax">
    <div class="container">
      <div class="cycle-slideshow testimonial-box" data-cycle-fx="fade" data-cycle-swipe="true" data-cycle-timeout="6000" data-cycle-pager="#navi" data-cycle-slides=">div">
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span9">
              <span class="name">Selvio Pérez ,</span> CEO<br>
              <p>"Sólo es capaz de realizar los sueños el que, cuando llega la hora, sabe estar despierto."</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span9">
              <span class="name">Juan David Giraldo,</span> CTO<br>
              <p>"Aprendamos a vivir un día a la vez, los pequeños pasos son los que nos preparan para los grandes pasos del futuro."</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span9">
              <span class="name">Jorge Monroy,</span> COO <br>
              <p>"Un hombre con una idea nueva es un loco hasta que la idea triunfa."</p>
            </div>
          </div>
        </div>
        
      </div>
      <div id="navi"></div>
      </div>
    </div>
  </section>



