      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <!-- ========== HEADER ========== -->
<header id="home">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo pull-left">
          <a href="/">
            <img src="/assets/TopLogo.png" alt="Main Logo" >
          </a>  
        </div>
        <div id="nav-top" class="pull-right">
          <ul class="nav unstyled">
            <li ><a href="#portfolio"><i class="fa fa-book fa-3x"></i>Videos</a></li>
            <li ><a href="#"><i class="fa fa-user fa-3x"></i>Creadores</a></li>
            <li ><a href="#contact"><i class="fa fa-phone fa-3x"></i>Contacto</a></li>
            <li ><a href="/signup"><i class="fa fa-sign-in fa-3x"></i>Ingresar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container text-center">
      <!-- === MAINLOGO === -->
    <div class="main-logo">
      <h1>Lo resolvemos por ti</h1>
      <h2> video - solucionarios</h2>
    </div>

    <div class="intro-container span12">
    	<div class="video-intro span6">
      	<iframe src="//player.vimeo.com/video/87371803" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    	</div>

	    <div class="main-text span5">
	      <p>
	        SolvingBooks te enseña de una forma diferente a partir del desarrollo paso a paso de ejercicios propuestos.
	      </p>
	      <a href="http://vimeo.com/86701482" class="button btn btn-large pull-left"><i class="icon-white icon-play"></i> Nuestro material</a>
	    </div>
		</div>
  </div>
</header>

<!-- ========= PAGES ========== -->
<section id="pages" >


	<!-- ========== SUBJECTS ========== -->
  <section id="subjects">
  	<div class="container">
      <h1 class="text-center">Videos</h1>
      <div class="dot-bg"></div>
      <div class="our_team">
        <div class="subject text-center intro-container">
          <div><img alt="" src="assets/icono4.png" class="ll"></div>
          <h4>Cálculo</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87366961" width="250" height="140" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="subject text-center intro-container">
          <img alt="" src="assets/icono2.png" class="ll">
          <h4>Física</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87363927" width="250" height="140" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="subject text-center intro-container">
          <img alt="juan david" src="assets/icono1.png" class="ll">
          <h4>Algebra Lineal</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87363924" width="250" height="140" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="subject text-center intro-container">
          <img alt="juan david" src="assets/icono3.png" class="ll">
          <h4>Química</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87360978" width="250" height="140" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- ========== TESTIMONIAL BOX ========== -->
  <section id="testimonial" class="inverse parallax">
    <div class="container">
      <div class="cycle-slideshow testimonial-box" data-cycle-fx="fade" data-cycle-swipe="true" data-cycle-timeout="6000" data-cycle-pager="#navi" data-cycle-slides=">div">
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/selvio.png" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">Selvio Pérez ,</span> CEO<br>
              <p>"Sólo es capaz de realizar los sueños el que, cuando llega la hora, sabe estar despierto."</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/juandavid.png" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">Juan David Giraldo,</span> CTO<br>
              <p>"Aprendamos a vivir un día a la vez, los pequeños pasos son los que nos preparan para los grandes pasos del futuro.</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/jorge.png" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">Jorge Monroy,</span> COO <br>
              <p>"Un hombre con una idea nueva es un loco hasta que la idea triunfa."</p>
            </div>
          </div>
        </div>
        
      </div>
      <div id="navi"></div>
      </div>
    </div>
  </section>
  <!-- ========== ABOUT US ========== -->

  <section id="about-us">
    <div class="container">
      <h1 class="text-center">Somos Creadores</h1>
      <div class="our_team">
        <div class="member text-center">
          <div><img alt="" src="assets/selvio.png" class="ll"></div>
          <h4>Selvio Pérez</h4>
          <span class="pos">Cofundador - CEO</span>
          <p>Ingeniero Electrónico especialista en Gerencia de Proyectos, visionario y soñador; siempre en busca de nuevas ideas y oportunidades.</p>
          <ul class="unstyled inline social">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
        <div class="member text-center">
          <img alt="" src="assets/jorge.png" class="ll">
          <h4>Jorge Monroy</h4>
          <span class="pos">Cofundador - COO</span>
          <p>Ingeniero Electrónico especialista en Gerencia de Proyectos, apasionado por los negocios y las nuevas ideas.</p>
          <ul class="unstyled inline social">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
        <div class="member text-center">
          <img alt="juan david" src="assets/juandavid.png" class="ll">
          <h4>Juan David Giraldo</h4>
          <span class="pos"> Cofundador - CTO</span>
          <p>Ingeniero Electrónico especialista en Teleinformática, desarrollador web apasionado por la tecnología.</p>
          <ul class="unstyled inline social">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>


  
</section>
<%= render 'layouts/footer' %>
<section id="footer_social">
	<div class="span12 row-fuid">
		<h1>¡Síguenos!</h1>
		<div class="follow">
			<ul class="unstyled inline social">
	      <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
	      <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
	    </ul>	
		</div> 
		<p>'La verdad hos hará libres' - Jesucristo</p>
	</div>

</section>