      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <!-- ========== HEADER ========== -->
<section id="home">

  <div class="container text-center">
      <!-- === MAINLOGO === -->
    <div class="main-logo">
      <h1>Lo resolvemos por ti</h1>
      <h2> video - solucionarios</h2>
    </div>

    <div class="intro-container row">
      <div class="video-intro span6">
        <iframe src="//fast.wistia.net/embed/iframe/dcl5hsvzjp?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="388"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
      </div>


	    <div class="main-text span5">
	      <p>
	        SolvingBooks te enseña de una forma diferente a partir del desarrollo paso a paso de ejercicios propuestos.
	      </p>
	      <a href="/signin" class="button btn btn-large pull-left"><i class="fa fa-play"></i> ¡Ingresa Ya!</a>
	    </div>
		</div>
  </div>
</section>

<!-- ========= PAGES ========== -->
<section id="pages" >


	<!-- ========== SUBJECTS ========== -->
  <section id="subjects">
  	<div class="container">
      <h1 class="text-center">Elije el módulo de aprendizaje te tu preferencia en nuestra sección de <a href="/videos">Materias</a> </h1>
      <div class="our_team">
        <div class="subject  text-center">
          <div class="red_color subject-container">
            <div class="subject_logo">
              <a href="#"><img alt="" src="assets/icono4.png" class="ll"></a>
            </div>
            <h3> <a href="#"> Cálculo </a></h3>
            <p>
              Afianza y mejora tus conocimientos en Cálculo con nosotros; en este módulo aprenderás acerca de: derivadas, integrales y mucho mas.
            </p>
            <a href="#" class="btn btn-sticky">Ver sección Cálculo</a>
          </div>
          <img class="ripped" src="assets/9.png">  
        </div>
        
        <div class="subject text-center">
          <div class="green_color subject-container">
            <a href="#"><img alt="" src="assets/icono2.png" class="ll"></a>
            <h3> <a href="#">Física</a> </h3>
            <p>
              Aprende física de una manera fácil y sencilla, en este módulo encontrarás todo lo que necesitas saber acerca de física mecánica, electricidad y calor ondas
            </p>
            <a href="#" class="btn btn-sticky">Ver sección Física</a>
          </div>
          <img class="ripped" src="assets/9.png">  
        </div>
        <div class="subject text-center">
          <div class="purple_color subject-container">
            <a href="#"><img alt="" src="assets/icono1.png" class="ll"></a>
            <h3><a href="#">Algebra Lineal</a> </h3>
            <p>
              Conviértete en un experto  en algebra lineal y aprende a resolver rápidamente matrices, sistemas de ecuaciones y mucho más.
            </p>
            <a href="#" class="btn btn-sticky">Ver sección A. Lineal</a>
          </div>          
          <img class="ripped" src="assets/9.png">  
        </div>
        <div class="subject text-center">
          <div class="yellow_color subject-container">
            <a href="#"><img alt="" src="assets/icono3.png" class="ll"></a>
            <h3><a href="#"> Química </a></h3>
            <p>
              Aprende química rápidamente, ingresa a este módulo y sabrás acerca de reacciones químicas, disoluciones, gases y muchos temas más.
            </p>
            <a href="#" class="btn btn-sticky">Ver sección Química</a>
          </div>
          <img class="ripped" src="assets/9.png">  
        </div>
      </div>
    </div>
  </section>
</section>