      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <!-- ========== HEADER ========== -->
<header id="home">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo pull-left">
          <a href="/">
            <img src="/assets/logo2.png" alt="Main Logo" >
          </a>  
        </div>
        <div id="nav-top" class="pull-right">
          <ul class="nav unstyled">
            <li ><a href="#portfolio"><i class="fa fa-book fa-3x"></i>Books</a></li>
            <li ><a href="#"><i class="fa fa-user fa-3x"></i>About Us</a></li>
            <li ><a href="#contact"><i class="fa fa-phone fa-3x"></i>Contact</a></li>
            <li ><a href="/signup"><i class="fa fa-sign-in fa-3x"></i>Sign in</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container text-center">
      <!-- === MAINLOGO === -->
    <div class="main-logo">
      <h1>Lo resolvemos por ti</h1>
      <h2> video - solucionarios</h2>
    </div>

    <div class="intro-container span12">
    	<div class="video-intro span6">
      	<iframe src="//fast.wistia.net/embed/iframe/nl1o78lq0c?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="400" height="225"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
    	</div>

	    <div class="main-text span5">
	      <p>
	        SolvingBooks es una paltaforma web educativa que facilita el aprendizaje de los estudiantes de ingeniería por medio del desarrollo paso a paso de ejercicios propuestos.
	      </p>
	      <a href="http://vimeo.com/86701482" class="button btn btn-large pull-left"><i class="icon-white icon-play"></i> Nuestro material</a>
	    </div>
		</div>
  </div>
</header>

<!-- ========= PAGES ========== -->
<section id="pages" >


	<!-- ========== SUBJECTS ========== -->
  <section id="subjects">
  	<div class="container">
      <h1 class="text-center">Videos</h1>
      <div class="dot-bg"></div>
      <div class="our_team">
        <div class="subject text-center intro-container">
          <div><img alt="" src="assets/icono4.png" class="ll"></div>
          <h4>Cálculo</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87270516" width="250" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="subject text-center intro-container">
          <img alt="" src="assets/icono2.png" class="ll">
          <h4>Física</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/86701482?color=c9ff23" width="250" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="subject text-center intro-container">
          <img alt="juan david" src="assets/icono1.png" class="ll">
          <h4>Algebra Lineal</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87270516" width="250" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
          </div>
        </div>
        <div class="subject text-center intro-container">
          <img alt="juan david" src="assets/icono3.png" class="ll">
          <h4>Química</h4>
          <div class="video-subject">
          	<iframe src="//player.vimeo.com/video/87270516" width="250" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ========== ABOUT US ========== -->

  <section id="about-us">
    <div class="container">
      <h1 class="text-center">Somos Creadores</h1>
      <div class="our_team">
        <div class="member text-center">
          <div><img alt="" src="assets/selvio.png" class="ll"></div>
          <h4>Selvio Perez</h4>
          <span class="pos">Cofundador - CEO</span>
          <p>Ingeniero Electrónico especialista en Gerencia de Projectos, visionario y soñador; siempre en busca de nuevas ideas y oportunidades.</p>
          <ul class="unstyled inline social">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
        <div class="member text-center">
          <img alt="" src="assets/jorge.png" class="ll">
          <h4>Jorge Monroy</h4>
          <span class="pos">Cofundador - COO</span>
          <p>Ingeniero Electrónico especialista en Gerencia de Projectos, apasionado por los negocios y las nuevas ideas.</p>
          <ul class="unstyled inline social">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
        <div class="member text-center">
          <img alt="juan david" src="assets/juandavid.png" class="ll">
          <h4>Juan David Giraldo</h4>
          <span class="pos"> Cofundador - CTO</span>
          <p>Ingeniero Electrónico especialista en Teleinformatica, desarrollador web apasionado por la técnologia.</p>
          <ul class="unstyled inline social">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
      </div>
      <h1 class="text-center">¡Estamos a tu servicio!</h1>
      
    </div>
  </section>


  <!-- ========== TESTIMONIAL BOX ========== -->
  <section id="testimonial" class="inverse parallax">
    <div class="container">
      <div class="cycle-slideshow testimonial-box" data-cycle-fx="fade" data-cycle-swipe="true" data-cycle-timeout="6000" data-cycle-pager="#navi" data-cycle-slides=">div">
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/selvio.png" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">John Doe,</span> Developer<br>
              <p>These guys are simply outstanding! Being able to delegate a project completely
              and then be surprised by the outcome.</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/juandavid.png" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">Juan David Giraldo,</span> Developer<br>
              <p>"Aprendamos a vivir un día a la vez, los pequeños pasos son los que nos preparan para los grandes pasos.</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/jorge.png" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">Lorem I Doe,</span> Developer<br>
              <p>These guys are simply outstanding! Being able to delegate a project completely
                and then be surprised by the outcome.</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span3">
              <img alt="" src="assets/team_4.jpg" width="75" height="75">
            </div>
            <div class="span9">
              <span class="name">John B Doe,</span> Developer<br>
              <p>These guys are simply outstanding! Being able to delegate a project completely
                and then be surprised by the outcome.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="navi"></div>
      </div>
    </div>
  </section>
</section>
<%= render 'layouts/footer' %>