<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- ========== HEADER ========== -->
<section id="home">

  <div class="container text-center">
      <!-- === MAINLOGO === -->
    <div class="main-logo">
      <h1>Lo resolvemos por ti</h1>
      <h2> video - solucionarios</h2>
    </div>

    <div class="intro-container row">
      <div class="video-intro span6">
        <iframe src="//fast.wistia.net/embed/iframe/dcl5hsvzjp?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="388"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
      </div>


	    <div class="main-text span5">
	      <p>
	        SolvingBooks te enseña de una forma diferente a partir del desarrollo paso a paso de ejercicios propuestos.
	      </p>
	      <a href="/signin" class="button btn btn-large pull-left"><i class="fa fa-flask"></i> ¡Ingresa!</a>
	    </div>
		</div>
  </div>
</section>

<!-- ========= PAGES ========== -->
<section id="pages" >

	<!-- ========== SUBJECTS ========== -->
  <section id="subjects">
  	<div class="container">
      <h1 class="text-center">Elije el módulo de aprendizaje te tu preferencia en nuestra sección de <a href="">Materias</a> </h1>
      <div class="our_team">
        <div class="subject  text-center">
          <div class="termo subject-container">
            <div class="subject_logo">
              <a href="#"><img alt="" src="assets/termo_icon.png" class="ll"></a>
            </div>
            <h3> <a href="#"> Termodinámica </a></h3>
            <p>
              Afianza y mejora tus conocimientos en Termodinámica con nosotros; en este módulo aprenderás acerca de: Energias, Propiedades, Leyes y más.
            </p>
          </div>
          <img class="ripped" src="assets/ripped.png">  
        </div>
        
        <div class="subject text-center">
          <div class="subject-container">
            <div class="subject_logo"> <a href="#"><img alt="" src="assets/construction2.png" class="ll"></a></div> 
            <h3> <a href="#">Física</a> </h3>
            <p>
              Aprende física de una manera fácil y sencilla, en este módulo encontrarás todo lo que necesitas saber acerca de física mecánica, electricidad y calor ondas
            </p>
          </div>
          <img class="ripped" src="assets/ripped.png">  
        </div>
        <div class="subject text-center lineal">
          <div class="subject-container">
            <a href="#"><img alt="" src="assets/construction2.png" class="ll"></a>
            <h3><a href="#">Estática</a> </h3>
            <p>
              Conviértete en un experto en estática y aprende a analizar rapidamente la mécanica vectorial de los cuerpos, vectores de fuerza  y mucho más.
            </p>
          </div>          
          <img class="ripped" src="assets/ripped.png">  
        </div>
        <div class="subject text-center chemistry">
          <div class="subject-container">
            <a href="#"><img alt="" src="assets/construction2.png" class="ll"></a>
            <h3><a href="#"> Ec. Diferenciales </a></h3>
            <p>
              Afianza tus conocimientos en Ecuaciones Diferenciales, en este módulo aprenderás de como resolver ecuaciones diferenciales en problemas de ingeniería.
            </p>
          </div>
          <img class="ripped" src="assets/ripped.png">  
        </div>
      </div>
    </div>
  </section>
</section>