      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <!-- ========== HEADER ========== -->
<a id="webform_side_tab">Suscríbete</a><script type="text/javascript" src="https://madmimi.com/signups/99446/webform_side_tab.js"></script>
<section id="home">

  <div class="container text-center">
      <!-- === MAINLOGO === -->
    <div class="main-logo">
      <h1>Lo resolvemos por ti</h1>
      <h2> video - solucionarios</h2>
    </div>

    <div class="intro-container row">
      <div class="video-intro span6">
        <a class="fancybox-media" href="https://vimeo.com/87371803">
          <img src="assets/intro_image.jpg" class="ll">
        </a>
      </div>


	    <div class="main-text span5">
	      <p>
	        SolvingBooks te enseña de una forma diferente a partir del desarrollo paso a paso de ejercicios propuestos.
	      </p>
	      <a href="/signin" class="button btn btn-large pull-left"><i class="fa fa-play"></i> ¡Ingresa Ya!</a>
	    </div>
		</div>
  </div>
</section>

<!-- ========= PAGES ========== -->
<section id="pages" >


	<!-- ========== SUBJECTS ========== -->
  <section id="subjects">
  	<div class="container">
      <h1 class="text-center">Elije el módulo de aprendizaje te tu preferencia en nuestra sección de <a href="/videos">Materias</a> </h1>
      <div class="our_team">
        <div class="subject red_color text-center">
          <a href="#"><img alt="" src="assets/icono4.png" class="ll"></a>
          <h3> <a href="#"> Cálculo </a></h3>
          <p>
            Afianza y mejora tus conocimientos en Cálculo con nosotros; aprenderás derivadas, integrales y mucho mas.
          </p>
          <a href="#" class="btn green- btn-sticky">Ver sección Cálculo</a>
        </div>
        <div class="subject green_color text-center">
          <a href="#"><img alt="" src="assets/icono2.png" class="ll"></a>
          <h3> <a href="#">Física</a> </h3>
          <p>
            Afianza y mejora tus conocimientos en Cálculo con nosotros; aprenderás derivadas, integrales y mucho mas.
          </p>
          <a href="#" class="btn btn-sticky">Ver sección Física</a>
        </div>
        <div class="subject purple_color text-center">
          <a href="#"><img alt="" src="assets/icono1.png" class="ll"></a>
          <h3><a href="#">Algebra Lineal</a> </h3>
          <p>
            Afianza y mejora tus conocimientos en Cálculo con nosotros; aprenderás derivadas, integrales y mucho mas.
          </p>
          <a href="#" class="btn btn-sticky">Ver sección A. Lineal</a>
        </div>
        <div class="subject yellow_color text-center">
          <a href="#"><img alt="juan david" src="assets/icono3.png" class="ll"></a>
          <h3><a href="#"> Química </a></h3>
          <p>
            Afianza y mejora tus conocimientos en Cálculo con nosotros; aprenderás derivadas, integrales y mucho mas.
          </p>
          <a href="#" class="btn btn-sticky">Ver sección Química</a>
        </div>
      </div>
    </div>
  </section>

<!-- ========== TESTIMONIAL BOX ========== -->
  <section id="testimonial" class="inverse parallax">
    <div class="container">
      <div class="cycle-slideshow testimonial-box" data-cycle-fx="fade" data-cycle-swipe="true" data-cycle-timeout="6000" data-cycle-pager="#navi" data-cycle-slides=">div">
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span9">
              <span class="name">Selvio Pérez ,</span> CEO<br>
              <p>"Sólo es capaz de realizar los sueños el que, cuando llega la hora, sabe estar despierto."</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span9">
              <span class="name">Juan David Giraldo,</span> CTO<br>
              <p>"Aprendamos a vivir un día a la vez, los pequeños pasos son los que nos preparan para los grandes pasos del futuro."</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="row-fluid">
            <div class="span9">
              <span class="name">Jorge Monroy,</span> COO <br>
              <p>"Un hombre con una idea nueva es un loco hasta que la idea triunfa."</p>
            </div>
          </div>
        </div>
        
      </div>
      <div id="navi"></div>
      </div>
    </div>
  </section>
  <!-- ========== ABOUT US ========== -->

  <section id="about-us">
    <div class="container">
      <h1 class="text-center">Somos Creadores</h1>
      <div class="our_team">
        <div class="member text-center">
          <div><img alt="" src="assets/selvio.png" class="ll"></div>
          <h4>Selvio Pérez</h4>
          <span class="pos">Cofundador - CEO</span>
          <p>Ingeniero Electrónico especialista en Gerencia de Proyectos, visionario y soñador; siempre en busca de nuevas ideas y oportunidades.</p>
          <ul class="unstyled inline social-user">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
        <div class="member text-center">
          <img alt="" src="assets/jorge.png" class="ll">
          <h4>Jorge Monroy</h4>
          <span class="pos">Cofundador - COO</span>
          <p>Ingeniero Electrónico especialista en Gerencia de Proyectos, apasionado por los negocios y las nuevas ideas.</p>
          <ul class="unstyled inline social-user">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
        <div class="member text-center">
          <img alt="juan david" src="assets/juandavid.png" class="ll">
          <h4>Juan David Giraldo</h4>
          <span class="pos">Cofundador - CTO</span>
          <p>Ingeniero Electrónico especialista en Teleinformática, desarrollador web apasionado por la tecnología.</p>
          <ul class="unstyled inline social-user">
            <li><a data-placement="top" title="Twitter" class="fa fa-twitter  fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="FaceBook" class="fa fa-facebook fa-2x" href="#"></a></li>
            <li><a data-placement="top" title="GooglePlus" class="fa fa-google-plus fa-2x" href="#"></a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>

  <!-- Contacts -->

  <section id="contact" class="fadeInRightBig">
    <div class="container">
        <h1 class="title">
            Contactanos
        </h1>
    </div>
    
    <div class="container">        
      <h2 class="sub-title">
          Tu opinión es importante para nosotros, cuéntanos tu experiencia con la plataforma, siempre estamos abiertos a sugerencias de nuestros usuarios. Con tu ayuda haremos de SolvingBooks la plataforma oficial de los estudiantes de ingeniería. 
      </h2>
      
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= value %>
        </div>
      <% end %>
      <div class="row">
          <%= render 'shared/error_messages', object: @message %>
          
          <div class="col-sm-8">
            <form accept-charset="UTF-8" action="/" id="new_message" method="post" class="new_message contact">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <div class="row">
                <div class="col-sm-6">
                  <label class="required" for="name">
                      Tu Nombre
                      <input type="text" name="message[name]" id="message_name" placeholder="John Stuart" required>
                  </label>
                </div>
                <div class="col-sm-6">
                  <label class="required" for="email">
                      Tu Correo
                      <input type="email" name="message[email]" id="message_email" placeholder="John@Stuart.com" required>
                  </label>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-6">
                  <label class="required" for="name">
                      Asunto
                      <input type="text" name="message[subject]" id="message_subject" placeholder="John Stuart" required>
                  </label>
                </div>
              </div>
              <label class="required">
                Mensaje
                <textarea id="message_body" name="message[body]" rows="7" placeholder="Tengo una idea para un proyecto..." required></textarea>
              </label>
              <div class="add-sm-top text-center">
                <button class="btn btn-danger" type="submit"><i class="fa fa-envelope"></i> &nbsp; ENVIAR COREO</button>
              </div>
            </form>
          </div>
          <div class="col-sm-4 contact-address">
              <h3 class="heading turquoise add-xs-top">Mantente en contacto</h3>
              <p>Si tienes una idea para mejorar la plataforma, o algún talento que crees que puede ayudar a SolvingBooks; queremos saber de ti.</p>
              
              <h3 class="heading blue add-sm-top">Dirección</h3>
              <address><abbr title="Address"><i class="fa fa-thumb-tack"></i></abbr>Colombia<br />
                                              - Prontamente</address>
              <address><abbr title="Phone"><i class="fa fa-phone"></i></abbr>1.718.456.7890</address>
              <address><abbr title="Fax"><i class="fa fa-print"></i></abbr>1.718.045.6789</address>
              <address><abbr title="Email"><i class="fa fa-envelope"></i></abbr>support@solvingbooks.com</address>
          </div>
      </div>
    </div>
</section>

<!-- Social Bar -->
<section id="social-bar">
    <div class="container">
        <div class="social-wrapper">
            <h2>Social Places</h2>
            <div class="social" style="height: 80px;">
                <div><a href="#"><img src="assets/social/facebook.png" alt="Facebook"></a></div>
                <div><a href="#"><img src="assets/social/google.png" alt="Google"></a></div>
                <div><a href="#"><img src="assets/social/twitter.png" alt="Twitter"></a></div>
                <div><a href="#"><img src="assets/social/linkedin.png" alt="Linkedin"></a></div>
                <div><a href="#"><img src="assets/social/youtube.png" alt="Youtube"></a></div>
            </div><a class="show-more" href="#" style="display: none;"></a>
        </div>
    </div>
</section>


  
