<div id="modules">
  <div class="row module-banner">
  </div>

  <div class="container">
    <div class="subtitle text-center"> 
      <p>Ingresa a cada uno de nuestros módulos para aprender a resolver los ejercicios propuestos de los libros guías mas conocidos de cada materia.</p> 
    </div>  
  
    <div class="row modules">
      <div class="col-xs-6">
        <div class="card module termo-module">
          <div class="module-content">
            <div class="module-icon circle">
              <a href="modulos/termodinamica"><img src="assets/termo_icon.png"></a>
            </div>
            <div class="card-content">
              <h2 class="module-title">
                <b class="col-xs-12"> Módulo </b>
                <a href="/termodinamica" class="col-xs-12 module-title-link">Termodinámica</a>
              </h2>
              <p class="col-xs-12 module-description">Afianza y mejora tus conocimientos en Termodinámica con nosotros; en este módulo aprenderás acerca de: Energias, Propiedades, Leyes y más.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card module estatica-module">
          <div class="module-content">
            <div class="module-icon circle">
              <img src="assets/estatica.png">
            </div>
            <div class="card-content">
              <h2 class="module-title">
                <b class="col-xs-12"> Módulo </b>
                <a href="/estatica" class="col-xs-12 module-title-link">Estática</a>
              </h2>
              <p class="col-xs-12 module-description">Aprende con nosotros los conceptos básicos del equilibrio de los cuerpos rigidos, sumatoria de fuerzas y mucho más. Este módulo te ayudará a afrontar mejor los problemas de estática.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card module construction-module">
          <div class="module-content">
            <div class="module-icon circle">
              <img src="assets/construction.jpeg">
            </div>
            <div class="card-content">
              <h2 class="module-title">
                <b class="col-xs-12"> Módulo </b>
                <a href="#" class="col-xs-12 module-title-link">Física</a>
              </h2>
              <p class="col-xs-12 module-description">Este módulo se encuentra en construción, muy pronto lo podrás disfrutar y aprender con nosotros. En SolvingBooks siempre pensamos en lo mejor para ti.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card module construction-module">
          <div class="module-content">
            <div class="module-icon circle">
              <img src="assets/construction.jpeg">
            </div>
            <div class="card-content">
              <h2 class="module-title">
                <b class="col-xs-12"> Módulo </b>
                <a href="#" class="col-xs-12 module-title-link">Ec. Diferenciales</a>
              </h2>
              <p class="col-xs-12 module-description">Este módulo se encuentra en construción, muy pronto lo podrás disfrutar y aprender con nosotros. En SolvingBooks siempre pensamos en lo mejor para ti.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  
</div>
