<% provide(:title, 'Sign up') %>
<div class="sign-in-page row">
  <div class="container sign-forms sign-up">
      <div>
        <%= render 'shared/error_messages' %>
        <h1>INGRESAR</h1>

        <%= render "form" %>
        
      </div>
      <div class="link-sign-in">
        <label>holis</label>
      </div>
  </div>
</div>