<% provide(:title, 'Sign up') %>
<div class="sign-in-page row">
  <div class="container sign-forms sign-up">
    <div>
      <%= render 'shared/error_messages', object: @user %>
      <h1>INGRESAR</h1>

      <%= render "form" %>
      
    </div>
    <div class="link-sign-in">
      <label>¿Ya tienes cuenta? <%= link_to "¡Ingresa ya!", signin_path %></label>
    </div>
  </div>
</div>