<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <%= image_tag 'brains_logo.png', :class => "modal-logo"%>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <h3>Tu duda ha sido enviada, en BrainsUniversity nos esforzamos cada día para que nuestros usuarios entiendan al 100% cada uno de nuestros videos. Gracias por hacer parte de está gran comunidad de ingenieros.</h3>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>  
  </div>
</div>
