<% provide(:title, @video.title) %>
<section id="video-list">
	<div class="container">
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div id="modal-thanks" class="modal fade" role="dialog" aria-labelledby="myModalLabels" aria-hidden="true"></div>
		<div class="video-player">
			<%= youtube_embed(@video.link) %>	
      <%= link_to doubts_path(@video.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'data-dev' => "#{@video.title}"} do %>
        <button type="button" class="btn btn-primary"> Escribenos tus dudas </button>                
      <% end %>
		</div>
    <div class="comments">
      <h2>Comentarios</h2>
      <% if current_user %>
        <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
      <% end %>
      <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
    </div>
	</div>	
</section>
