/* Custom Styles */

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

/* footer */

footer {
  border-top: 1px solid $grayMediumLight;
  background-color: #333333;
  height: 8em;
  .glass{
	  margin-top: 0.5em;
	  float: right;
	  width: 11em;
  }
}