/* Custom Styles */

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

/* footer */

footer {
  border-top: 1px solid $grayMediumLight;
  background-color: #363636;
  height: 5em
}