#landing {
  background-image: url('landing/landing4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #01B0CF;
  height: 100%;
  width: 100vw;
  .content {
    position: absolute;
    top: 28%;
    left: 58%;
  }
}

.subscriber {
  float: right;
  padding-right: 0;
  .mc-field-group {
    width: 100% !important;
    label {
      font-size: 21px;
      margin-bottom: 12px !important;
    }
  }
}

#landing-footer {
  height: 11em;
  border: none;
  .social {
    margin-left: 25%;
  }
  .glass img {
    width: 36% !important;
    margin-right: 3em;
  }
  .top.logo {
    img {
      width: 80%;
      float: none;
      margin-top: 1em;
    }
  }
  .top {
    margin-top: 0.5em;
  }
  .barra_colciencias {
    text-align: center;
    img {
      width: 92% !important;   
      float: none;
    }
  }
}

#mc_embed_signup {
  background: transparent !important;
  color: white;
  font-family: 'Amaranth', sans-serif !important;
  .mc-field-group {
    input {
      border-radius: 8px;
      color: #365365;
    }
    div.mce_inline_error {
      background-color: #CB5028;
    }
  }
  .clear {
    input {
      background-color: #CB5028;
    }
    input:hover {
      background-color: #CB2828;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  #landing {
    .content {
      top: 45%;
      left: 20%;
      width: 60% !important;
      .subscriber {
        margin-top: 2em;
        width: 100%;
      }
    }
  }
}
