
//User Home styles
*{
	font-family: 'Roboto', sans-serif;
}

.navbar-fixed-top {
	.navbar-inner {
		height: 5em;
		img {
			margin-top: -0.2em;
		}
	}
}

.logo {
	margin: 1em 0;
	img {
		width: 100%;
	}
}


.intro-container {
	width: 73.125em;
	color: rgba(255,255,255,1);
  margin-left: 0;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}

header {
	background-color: #D1E2E4;
	background: url(../assets/5.png);
  position: relative;
 	background-size: cover;
}

.main-logo {
  margin-top: 10%;
  h1 {
  	font-size: 4em;
  	color: white;
  	margin-bottom: 0;
  }
  h2 {
  	font-weight: 100;
  	font-size: 2em;
  	color: white;
  	margin-bottom: 1em;
  }
}

.video-intro.span6 {
	margin: 2em 2em;
}
.main-text.span5 {
	margin: 2% 0;
	margin-left: 3em;
	p {
		font-size: 1.5em;
		font-weight: 100;
		margin-top: 2em;
		text-align: left;
		color: white;
	}
	.btn.btn-large.ui-link {
    background: -webkit-linear-gradient(left, #006699 , #0066cc); /* For Safari */
    background: -o-linear-gradient(right, #006699 , #0066cc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #006699 , #0066cc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #006699 , #0066cc); /* Standard syntax */
		color: white;
		margin-top: 1em;
    border: none
	}
}

.box-table {
	display: table;
	width: 100%;
}


#nav-top li {
  float: left;
}
#nav-top li a {
  font-family: 'Duru Sans', sans-serif;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  color: #363636;
  text-align: center;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all 0.5s;
}
#nav-top li a i {
  color: #0066cc;
  display: block;
  margin-bottom: 5px;
  font-size: 2em;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all 0.5s;
}

#nav-boxes {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

#nav-boxes a {
  display: table-cell;
  color: #8CAD76;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 25px 0;
  text-decoration: none;
  vertical-align: middle;
}
#nav-boxes a:hover {
  text-decoration: none;
}

#nav-boxes a i {
  display: block;
  margin-bottom: 25px;
  position: relative;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s; /* Safari and Chrome */
  -moz-animation-duration: 1.5s;
  opacity: 1 !important;
}

#pages{
  margin-top: -2em;
}

/* ABOUT US */
#about-us {
  background: white;
  color: #666666;
  padding: 100px 0 75px;
  overflow: hidden;
  clear: both;
  .container{
    margin-top: -2em;
    margin-bottom: -4em;
  }
  h1{
    color: #66ccff;
    font-size: 2.5em;
    margin-bottom: 1.5em; 
  }
}

.dot-bg {
  padding-top: 2em;
  background: url("../assets/dots.png") no-repeat center top;
  margin-top: 15px;
}

.intro-text {
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  margin: 30px 0;
  text-align: center;
  clear: both;
}

.social a {
  font-size: 20px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
}
.social a:hover {
  background: url('bgb20.png') repeat;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
}
.our_team {
  overflow: hidden;
}

.member {
  width: 33.3%;
  display: block;
  float: left;
  transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  img{
    max-width: 80%;
    -webkit-border-radius: 13em;
    -moz-border-radius: 13em;
    border-radius: 13em;
  }
}
// .member:hover {
//   background: url('../assets/bgb30.png') repeat;
//   transition: all .5s;
//   -moz-transition: all .5s;
//   -o-transition: all .5s;
//   -ms-transition: all .5s;
//   -webkit-transition: all .5s;
// }
.member{
  h4 {
    font-weight: normal;
    color: #333333;
  }
  p{
    color: #666666;
    margin-top: 1em;
  }
}
.member .pos {
  font-weight: normal;
  color: #0099cc
}
.member .social {
  margin: 15px 0;
}
#testimonial {
  padding: 2em 0;
  background-image: url("../assets/parallax-3.png");
}
.testimonial-box {
  width: 50%;
  margin: 0 auto;
}
.testimonial {
  overflow: hidden;
}
.testimonial img {
  width: 75px;
  height: 75px;
  border-radius: 3em;
}
.testimonial .name {
  font-size: 22px;
  font-weight: 600;
}
.testimonial p {
  margin: 10px 0 0;
  color: #666666;
}
#navi {
  text-align: center;
  margin: 15px 0;
  clear: both;
}
#navi span {
  display: inline-block;
  margin: 0 10px;
  border: #e0e0e0 solid 3px;
  border-radius: 50%;
  background: #fff;
  text-indent: 9999px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
}
#navi span.cycle-pager-active {
  background: #e0e0e0;
}


/* SUBJECTS */


#subjects{
  background: url(../assets/teacher.jpg) fixed;
  background-size: cover;
  .dot-bg{
    margin-bottom: 1.5em;
  }
  h1{
    color: #2676B3;
    font-size: 2.5em;
  }
  .container{
    margin-top: 2em;
  }
  .subject {
    .video-subject{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    width: 24%;
    display: block;
    float: left;
    img{
      max-width: 35%;
    }
    h4 {
      font-weight: normal;
      color: white;
    }
  }
}

.subject.text-center.intro-container {
  margin-bottom: 2em;
  margin-left: 1%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - 
MEDIA QUERIES FOR LARGER BREAKPOINTS BEGIN HERE
- - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 800px) {
  .intro-container.span12{
    margin-left: 0;
  }
  .main-logo{
    margin-top: 0;
    h1{
      font-size: 3em;
    }
    h2{
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
  .main-text.span5{
    margin-left: 0;
    p{
      font-size: 1.2em;
      margin-top: 0;
    }
  }
}

