@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-in-page {
  background-image: url(../assets/5.png);
  position: relative;
  background-size: cover;
  height: 46em
}

.sign-up {
  margin-top: 6em;
  h1 {
    text-align: center;
    color: white;
  }
  form {
    margin: auto;
    width: 30em;
    .form-inputs{
      .field_with_errors{
        background-color: transparent;
        padding: 0;
        display: inherit;
        input, textarea, select, .uneditable-input {
          background-color: #ffe4eb;
        }
        .error{
          display: none;
        }
      }
      div{
        margin-bottom: 1.2em;
      }
    }
    .control-group{
      margin: 2em 0;
    }
    input, textarea, select, .uneditable-input {
    background-color: #f2f2f2;
    font-size: 1.4em;
    width: 100%;
    @include box_sizing;
    }
    .btn{
      border: none;
    }
  }
  
  #error_explanation {
    background-color: transparent;
    border: none;
    margin: 0 22em;
    text-align: center;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
      color: white;
      li{
        list-style: none;
        font-size: 1.2em;
      }
    }
  }
}
#user_remember_me {
  margin: 0.1em -0.5em;
  width: 1em;
}
.link-sign-in {
  width: 30em;
  margin: auto;
  margin-top: 3em;
  height: 4em;
  color: rgba(255,255,255,1);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  label {
    float: left;
    margin: 1.5em 4em !important;
  }
  a {
    color: #999999 !important;
    margin: 1.5em -3.5em;
    font-style: italic;
    position: absolute;
  }
}
.remembers_links {
  margin: 0.2em 38em;
  a {
    color: white !important;
    position: absolute;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
