#video-list{
	position: relative;
 	background-size: cover;
 	h1{
		color: black;
		margin-top: 4em;
		margin-bottom: 1em;
		font-style: italic;
		font-weight: bold;
		font-size: 36px;
	}
}
.video-player{
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 4em;
	width: 75%;
	iframe{
		width: 100%;
	}
}
.jumbotron {
	.container.text-center{
		h1{
			font-size: 2em;
			margin-top: 1em;
		}
	}
}

.doubts-form {
	margin-top: 2em;
	margin-bottom: 2em;
	.actions {
		input {
			color: white;
    	background-color: #337ab7 !important;
    	border-color: #2e6da4 !important;
		}
	}
}

.filter-panel {
	margin-bottom: 4em;
	margin-top: 1em;
}
.button-search{
	border-radius: 0 !important;
	width: 18.6%;
	margin-left: 1%;
	a{
		color: white;
	}
}
#modal-window {
	.modal-header {
		border-bottom: none;
	}
	.modal-body {
		padding-top: 0;
	}
}

.btn:hover.button-search {
	color: white !important;
}
.btn:hover.purple {
	background-color: #714185 !important;
}
.btn:hover.turquoise {
	background-color: #47B88D !important;
}
.btn:hover.orange {
	background-color: #EB6D61 !important;
}
.btn:hover.midnight {
	background-color: #2E3C4B !important;
}
.btn:hover.blue {
	background-color: #6194AC !important;
}

.new-video {
	margin-top: 3em
}
