<!-- Le Footer -->    
<footer class="footer-wrapper hidden-xs">
  <div class="footer-links container">
    <div class="row">
      <div class="col-sm-4 top">
        <ul>
          <li>
            <a class="underline"href="/signup"> Crea una cuenta gratis </a>    
          </li>
          <li>
            <a href="/modulos"> Nuestros Módulos </a>    
          </li>
          <li>
            <a href="#"> Mira nuestros planes </a> 
          </li>
          <li>
            <a href="#"> Ayuda </a>      
          </li>
          <li>
            <a href="#"> Nuestro Blog </a>      
          </li>
        </ul>
      </div>
      <div class="col-sm-4 top">
        <h4>Siguenos en nuestras redes</h4>
        <div class="social row">
          <div><a target="_blank" href=""> <i class="fa fa-twitter fa-4"></i> </a></div>
          <div><a target="_blank" href=""> <i class="fa fa-facebook fa-3"></i> </a></div>
          <div><a target="_blank" href=""> <i class="fa fa-youtube fa-3"></i> </a></div>
        </div>
      </div>
      <div class="col-sm-4 glass">
        <%= image_tag('gafas.png') %>
      </div>
    </div>
  </div>
</footer>

<div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        &copy; Solvingbooks. All Rights Reserved.
      </div>
      <div class="col-sm-4 text-right mobile-center">
        La verdad os hará libres - Jesús
      </div>
    </div>
  </div>
</div>
    