<!-- Le Footer -->    
<footer class="footer-wrapper hidden-xs">
    <div class="footer-links container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Recent Tweets</h4>
                <p>
                    Wayfarers magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est. Wayfarers 
                    magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est.
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Recent Articles</h4>
                <p>
                    Wayfarers magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est. Wayfarers 
                    magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="assets/gafitas.png" class="ll">
            </div>
        </div>
    </div>
</footer>

<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                &copy; Solvingbooks. All Rights Reserved.
            </div>
            <div class="col-sm-4 text-right mobile-center">
                La verdad os hará libres - Jesús
            </div>
        </div>
    </div>
</div>
    